a {
  color: #000000;
}
p {
  padding: 0px;
  margin: 0 0 5px;
}
.dx {
  display: flex;
}
.ju {
  justify-content: center;
}
.ai {
  align-items: center;
}
.pad {
  padding-top: 20px;
}
.container .row .back {
  width: 100%;
  height: 93px;
  background: red;
  font-size: 29px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #ffffff;
  text-shadow: -1px 2px 1px rgba(81, 2, 2, 0.54);
}
.container .row .herd_else {
  width: 100%;
  background: #dcdcdc;
  height: 66px;
}
.container .row .herd_else .select_text {
  color: #000000;
  font-size: 17px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  margin: 0 10px;
}
.container .row .img-responsive {
  width: 17px;
  height: 18px;
}
.container .row .title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 6px;
}
.container .row .bord {
  width: 100%;
  height: 33px;
  background-image: linear-gradient(to right, #ff5960, #ff8362);
}
.container .row .bord .bord_text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.container .row .back_wid {
  background-image: linear-gradient(to right, #ff5960, #ff8362);
  width: 100%;
  height: 100px;
}
.container .row .back_wid .text_info {
  margin: 4px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
#peixun .row .img-responsive {
  width: 100%;
  height: 100%;
}
#peixun .row .peixun_mar {
  margin: 10px 0;
}
#peixun .row .peixun_mar .peixun_title {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
#peixun .row .peixun_secle {
  width: 51px;
  height: 2px;
  background-color: red;
  margin: 0 auto;
}
#peixun .row .peixun_info {
  letter-spacing: 3px;
  line-height: 22px;
}
#kecheng .title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 6px;
}
#kecheng .table-bordered tr td .kecheng_text {
  letter-spacing: 3px;
}
#kecheng .table-bordered tr td .kecheng_tile {
  writing-mode: tb-rl;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
}
#kecheng .tebe_herd {
  width: 100%;
  height: 53px;
  background: red;
}
#kecheng .tebe_herd .tabe_title {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0 18px;
}
.table {
  width: 100%;
}
.heng_none {
  width: 79px;
  height: 5px;
  background: red;
  margin: 0 43px;
}
.heng_two {
  width: 79px;
  height: 5px;
  background: red;
  margin: 0 43px;
}
