/* 默认样式 */

a {
  color: rgba(0, 0, 0, 1);
}

p {
  margin: 0 0 15px;
}

img {
  width: 100%;
}
/* ======================== */

.herd {
  width: 100%;
  height: 200px;
  background: black;
}

.back {
  width: 100%;
  height: 93px;
  background: red;
  font-size: 29px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-shadow: -1px 2px 1px rgba(81, 2, 2, 0.54);
}

.dx {
  display: flex;
}

.ai {
  align-items: center;
}

.ju {
  justify-content: center;
}

.link {
  color: red;
}

.padd {
  padding-top: 5px;
}

.pa-top {
  padding-top: 39px;
}

.size_wei {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 22px;
}

.address {
  margin: 70px 0;
}
